.home{
	background-image: url("../images/homepageimage.png");
	background-size: cover;
	background-color: white;
	background-repeat: no-repeat;
}
a{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 14px;
	margin-left: 50px;
}

a:hover { color: grey; }

nav ul{
	list-style-type: none;
	min-height: 100px;
	background-color: white;
	min-width: 500px;
	text-align: center;
}

header{
	display: grid;
	grid-template-columns: 40% 60%;
}
 h1 img{
 	position:absolute;
    left:400px;
    top:30px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
 }

nav li{ 
	display: inline-block;
	margin-right: 20px;
	margin-top: 40px;
	padding-top: 20px;
}

.benefits-h2 body{
	background-image: url("../images/jg_camillle_n_0137.jpg");
	background-size: cover;
}

.energize-list{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	line-height: 20px;
	position: relative;
	bottom: 270px;
	left: 175px;
	
}

.build-list{
	text-decoration: none;
	list-style-type: circle;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	position: relative;
	bottom:310px;
	left: 425px;
	line-height: 20px;
	
}

.fight-list {
	text-decoration: none;
	list-style-type: circle;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	position: relative;
	left: 700px;
	bottom:370px;
	line-height: 20px;

}

.benefits-h2 {
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
}



.benefits-intro{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	margin-top: 125px;
  	margin-bottom: 500px;
  	margin-right: 150px;
  	margin-left: 100px;
  	position: absolute;
  	top: 8px;
  	left: 55px;
  	line-height: 20px;
}

.benefits-h4{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
	position: relative;
	top:500px;
	left: -400px;
}

.benefits-h5{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
	position: relative;
	bottom: 300px;
	left: 425px;
	
}

.benefits-h6{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
  	position:relative;
  	bottom: 300px;
  	left: 120px;
 
}

.benefits-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.benefits-background{
	position: relative;
	left:200px;
	top: 30px;
	z-index:-1;
}


.recipe-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.recipe-h2 {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
}

.recipe-h3{
	z-index: -1px;

}

.recipe-h5{
	float: left;
	margin-top: -300px;
	margin-left: 66px;
}


.breakdown-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.breakdown-h2 {
	text-decoration: none;
	color: #FFFFF5;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
  }

  .breakdown-h3{
	background-image: url("../images/matcha-2356774_1280.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	position: absolute;
	z-index:-1;
}

.tooltip {
  position: relative;
  top:300px;
  left: 100px;
  font-family: "nexalight";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  border-bottom: none;
}

.tooltip .origintext {
  visibility: hidden;
  width: 450px;
  background-color: black;
  opacity: .75;
  font-family: "nexalight";
  text-transform: none;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  
  /* Position the tooltip */
  position: absolute;
  top: 100%;
  left: -1%;
}

.tooltip:hover .origintext {
  visibility: visible;
}


.tooltip2 {
  position: relative;
  top:200px;
  left: 470px;
  font-family: "nexalight";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  border-bottom: none;
}

.tooltip2 .farmerstext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  opacity: .75;
  font-family: "nexalight";
  text-transform: none;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  
  /* Position the tooltip */
  position: absolute;
  top: 120%;
  left: -1%;
 
}

.tooltip2:hover .farmerstext {
  visibility: visible;
}



.tooltip3 {
  position: relative;
  bottom: 20px;
  top: 700px;
  left: 200px;
  font-family: "nexalight";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  border-bottom: none;
}

.tooltip3 .producerstext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  opacity: .75;
  font-family: "nexalight";
  text-transform: none;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  
  /* Position the tooltip */
  position: absolute;
  top: -100%;
  left: 25%;
 
}

.tooltip3:hover .producerstext {
  visibility: visible;
}



.tooltip4 {
  position: relative;
  bottom: 20px;
  top: 510px;
  left: 320px;
  font-family: "nexalight";
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  border-bottom: none;
}

.tooltip4 .qualitytext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  opacity: .75;
  font-family: "nexalight";
  text-transform: none;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  
  /* Position the tooltip */
  position: absolute;
  top: 100%;
  left: -1%;
 
}

.tooltip4:hover .qualitytext {
  visibility: visible;
}



.shop-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.shop-h2 {
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
  }

 .shop-h3{
	background-image: url("../images/sticksbox.jpg");
	width: 300px;
	height: 300px;
	position: absolute;
	z-index:-1;
	margin-top: 100px;
	margin-left: 250px;
}

.shop-h4{
	text-decoration: none;
	color:#C7C7BF;
	font-family: "nexabold";
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 200px;
	margin-left: 850px;
}

.shop-h5{
	margin-top: 350px;
	margin-left: 270px;
	z-index:-1px;
}

.shop-background{
	background-color: #FFFFFF;
	
}




.shop-h6{
	text-decoration: none;
	color: #80807A;
	font-family: "nexabold";
	font-size: 30px;
	text-transform: uppercase;
	position: relative;
	top: 200px;
	left: 800px;
}



.btn-group .button {
  background-color: #C7C7BF; /* Green */
  border: none;
  color: white;
  font-family: "nexalight";
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 850px;

}

.btn-group .button:hover {
  background-color: #8dc63f;
}

.ingredients{
	text-decoration: none;
	color: #80807A;
	font-family: "nexalight";
	font-size: 12px;
	position: relative;
	top: 50px;
	left: 850px;
}	

.thankyou-h2{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	text-transform: uppercase;
	text-align: center;
	margin-left: -550px;
	margin-top: 300px;
}

