.home{
	background-image: url("../images/homepageimage.png");
	background-size: cover;
	background-color: white;
}
a{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 14px;
	margin-left: 50px;
}

a:hover { color: grey; }

nav ul{
	list-style-type: none;
	min-height: 100px;
	background-color: white;
	min-width: 500px;
	text-align: center;
}

header{
	display: grid;
	grid-template-columns: 40% 60%;
}
 h1 img{
 	position:absolute;
    left:400px;
    top:30px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
 }

nav li{ 
	display: inline-block;
	margin-right: 20px;
	margin-top: 40px;
	padding-top: 20px;
}

.benefits-h2 body{
	background-image: url("../images/jg_camillle_n_0137.jpg");
	background-size: cover;
}

.energize-list ul{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	list-style-type: circle
	margin-bottom: 300px;
	margin-left: -1000px;
	line-height: 20px;
}

.build-list ul{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	list-style-type: circle
	margin-bottom: 100px;
	margin-left: -550px;
}

.fight-list ul{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	list-style-type: circle
}

.benefits-h2 {
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
}

.benefits-intro{
	text-decoration: none;
	color: #000000;
	font-family: "nexalight";
	font-size: 14px;
	margin-top: 150px;
  	margin-bottom: 500px;
  	margin-right: 150px;
  	margin-left: 100px;
  	position: absolute;
  	top: 8px;
  	left: 55px;
}

.benefits-h4{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
	margin-top: 150px;
  	margin-bottom: 250px;
  	margin-right: 150px;
  	margin-left: 100px;
  	position: absolute;
  	bottom: 20px;
  	left: 16px;
	
}

.benefits-h5{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
	margin-top: 150px;
  	margin-bottom: 250px;
  	margin-right: 150px;
  	margin-left: 400px;
  	position: absolute;
  
}

.benefits-h6{
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexabold";
	font-size: 20px;
	margin-top: 150px;
  	margin-bottom: 250px;
  	margin-right: 150px;
  	margin-left: 400px;
  	position: fixed;
  	bottom: 20px;
  	right: 16px;
}

.benefits-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.benefits-background{
	background-image: url("../images/homepageimage.png");
	background-size: cover;
	max-width: 100%;
	height: auto;
	position: absolute;
	z-index:-1;
}


.recipe-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.recipe-h2 {
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
}

.grid-1{
	max-width: 20px;
	max-height:	10px;
}

.grid-2{
	max-width: 10px;
	max-height:	10px;
}

.grid-3{
	max-width: 30px;
	max-height:	10px;
}

.breakdown-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.breakdown-h2 {
	text-decoration: none;
	color: #FFFFF5;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
  }

  .breakdown-h3{
	background-image: url("../images/matcha-2356774_1280.jpg");
	background-size: cover;
	width: 100%;
	height: auto;
	position: absolute;
	z-index:-1;
}

.one-circle {
	background: #FFFFF5;
	width: 30px;
	height: 30px;
	margin-top: 300px;
	margin-left: 150;
	border-radius: 50%;

}
.one-link  {display: inline-block;}

.one-circle-text{
	position: relative;
  	width: 300px;
  	margin: auto;
}
.two-circle {
	background: #FFFFF5;
	width: 30px;
	height: 30px;
	margin-top: 200px;
	margin-left: 90;
	border-radius: 50%;

}

.three-circle {
	background: #FFFFF5;
	width: 30px;
	height: 30px;
	margin-top: 270px;
	margin-left: 285;
	border-radius: 50%;

}

.four-circle {
	background: #FFFFF5;
	width: 30px;
	height: 30px;
	margin-top: 200px;
	margin-left: 170;
	border-radius: 50%;

}

.hover-dark {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
}
.shop-logo{
	position:absolute;
    left:-350px;
    top:20px;
    margin: 0px 15px 15px 0px;
    max-width: 60px;
 	max-height: 60px;
}

.shop-h2 {
	text-decoration: none;
	color: #8dc63f;
	font-family: "nexalight";
	font-size: 14px;
	text-transform: uppercase;
	position:absolute;
    left:150px;
    top:60px;
    margin: 0px 15px 15px 0px;
  }

 .shop-h3{
	background-image: url("../images/sticksbox.jpg");
	width: 300px;
	height: 300px;
	position: absolute;
	z-index:-1;
	margin-top: 100px;
	margin-left: 250px;
}

.shop-h4{
	text-decoration: none;
	color:#C7C7BF;
	font-family: "nexabold";
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 200px;
	margin-left: 850px;
}

.shop-h5{
	margin-top: 500px;
	margin-left: 300px;
}

.shop-background{
	background-color: #FFFFF5;
	
}




.shop-h6{
	text-decoration: none;
	color: #C7C7BF;
	font-family: "nexabold";
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 200px;
	margin-left: 850px;
	border: 1px solid #8dc63f;
}



.flavor-labels{
	text-decoration: none;
	color: #80807A;
	font-family: "nexalight";
	font-size: 14px;
	margin-top: 0px;
	margin-left: 850px;
	margin-bottom: 100px;
}

.ingredients{
	text-decoration: none;
	color: #80807A;
	font-family: "nexalight";
	font-size: 14px;
	margin-bottom: 100px;
	margin-left: 850px;
}	


